
@model IEnumerable<Carrera>
@{
    ViewData["Title"] = "Home Page";
    var CarreraF1 = (Carrera)ViewBag.Carrera;

    var Equipo1 = (Equipo)ViewBag.Carrera.Equipo1;
    var Equipo2 = (Equipo)ViewBag.Carrera.Equipo2;
    var Equipo3 = (Equipo)ViewBag.Carrera.Equipo3;

    var Piloto11 = (Pilot)ViewBag.Carrera.Equipo1.Piloto1;
    var Piloto12 = (Pilot)ViewBag.Carrera.Equipo1.Piloto2;
    var Piloto21 = (Pilot)ViewBag.Carrera.Equipo2.Piloto1;
    var Piloto22 = (Pilot)ViewBag.Carrera.Equipo2.Piloto2;
    var Piloto31 = (Pilot)ViewBag.Carrera.Equipo3.Piloto1;
    var Piloto32 = (Pilot)ViewBag.Carrera.Equipo3.Piloto2;
}
 
<div class="text-center">
    <b>@Html.DisplayFor(modelItem => CarreraF1.Descripcion) - Transient</b>
    </div>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de objeto</th>
                    <th>Escuderia</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th>No. Licencia</th>
                    <th>Puntos de Licencia</th>
                    <th>Campeonatos Ganados</th>
                    <th>Carreras Ganados</th>
                    <th>Puntos de la temporada</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Scoped, Singelton
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Equipo1.Escuderia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto11.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto11.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto11.Licencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto11.PuntosSuperLicencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto11.CampeonatosGanados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto11.CarrerasGanadas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto11.PuntosTemporada)
                    </td>
                </tr>
                <tr>
                    <td>
                        Scoped, Transient
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Equipo1.Escuderia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto12.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto12.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto12.Licencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto12.PuntosSuperLicencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto12.CampeonatosGanados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto12.CarrerasGanadas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto12.PuntosTemporada)
                    </td>
                </tr>

                <tr>
                    <td>
                        Transient, Singelton
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Equipo2.Escuderia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto21.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto21.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto21.Licencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto21.PuntosSuperLicencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto21.CampeonatosGanados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto21.CarrerasGanadas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto21.PuntosTemporada)
                    </td>
                </tr>
                <tr>
                    <td>
                        Transient, Transient
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Equipo2.Escuderia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto22.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto22.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto22.Licencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto22.PuntosSuperLicencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto22.CampeonatosGanados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto22.CarrerasGanadas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto22.PuntosTemporada)
                    </td>
                </tr>

                <tr>
                    <td>
                        Singelton, Singelton
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Equipo3.Escuderia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto31.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto31.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto31.Licencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto31.PuntosSuperLicencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto31.CampeonatosGanados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto31.CarrerasGanadas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto31.PuntosTemporada)
                    </td>
                </tr>
                <tr>
                    <td>
                        Singelton, Transient
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Equipo3.Escuderia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto32.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto32.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto32.Licencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto32.PuntosSuperLicencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto32.CampeonatosGanados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto32.CarrerasGanadas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Piloto32.PuntosTemporada)
                    </td>
                </tr>

        </table>

        <input type="button" value="Refrescar" onclick="location.href='@Url.Action("Index")'"  /> 
    </div>
</div>
